<div class="container">
<div class="row">
<div class="col-md-offset-3 col-md-6 ">
<h2>Sign In </h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), hmtl: {class: "form-horizontal"}) do |f| %>
  
    <div class="form-group">
      <br>
    <%= f.input :email, required: true, hmtl: {class: "form-horizontal"}, label: false, placeholder: "Email", input_html: {class: "form-control"} %>
    <br>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable), label: false, placeholder: "Password", input_html: {class: "form-control"} %>
    </div>

  <div class="form-group">
    <%= f.button :submit, "Sign In", class: "btn btn-primary btn-block" %>
  </div>
<% end %>


<%= render "devise/shared/links" %>
</div>
</div>
</div>
<br>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("social_networking_Carousel.jpg", :size => "500x500") %>
      <div class="carousel-caption">
        <h3>Be connected with coders from the entire world!</h3>
      </div>
    </div>
    <div class="item">
      <%= image_tag("onlinelearning_Carousel.jpg", :size => "570x500", :class => "img-responsive center-block") %>
      <div class="carousel-caption">
        <h3>E-learn how to code</h3>
      </div>
    </div>
   <div class="item">
      <%= image_tag("ruby_on_rails_Carousel.jpg", :size => "500x500") %>
      <div class="carousel-caption">
        <h3>Try out your Ruby words!</h3>
      </div>
  </div>
</div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>